body {
    background-color: rgb(27, 43, 73);
}

h1{
    color: white;
    text-align: center;
}

p{
    color: rgb(209, 209, 225)
}

.fundo{
    height: 300px;
    background-color: gray;
    background-image: url(img/predio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}