li {
    display: inline-block;
    height: 50px;
    margin-top: 50px;
}

li a{
    background-color: rgb(25, 100, 81);
    color: white;
    padding: 15px 20px 15px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover{
    background: rgb(37, 134, 102);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    background-color: grey;
}

div {
    display: inline-block;
    color: white;
    width: 13%;
    height: 150px;
}

.azul{
    background: blue;
}

.red{
    background: red;
    visibility: visible;
}

.red:hover{
    visibility: hidden;
}

.verde{
    background: green;
}

a.botao{
    display: inline-block;
    padding: 40px;
    border: 1px solid red;
    margin-top: 30px;
    width: 20%;
    height: 20px;
    text-align: center;
    color: white;
}

a.botao:hover{
    background: rgb(163, 18, 18);
}