h2 {
    color: white;
    font-size: 14px;
}

/* Smartphones (600px p/ baixo)*/
@media only screen and (max-width: 600px) {
    body{
        background: blue;
    }

    h2{
        font-size: 22px;
    }
}

/* Dispositivos um pouco maiores, mas ainda pequenos (600px p/ cima)*/
@media only screen and (min-width: 600px) {
    body{
        background: green;
    }
}

/* Dispositivos médios (768px p/ cima)*/
@media only screen and (min-width: 768px) {
    body{
        background: yellow;
    }
}

/* Dispositivos largos (laptops, desktops, 992px p/ cima)*/
@media only screen and (min-width: 992px) {
    body{
        background: red;
    }

    .exemplo{
        display: none;
    }
}

/* Dispositivos super largos (desktops, TVs, 1200px p/ cima)*/
@media only screen and (min-width: 1200px) {
    body{
        background: violet;
    }
}