h1 {
    text-shadow: 2px 2px 2px red;
}

.branco{
    color: white;
    text-shadow: 3px 3px 4px black;
}

.multiplas{
    color: black;
    text-shadow: 0 0 3px #ff0000;
}

.caixa{
    text-align: center;
    background: white;
    width: 40%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}