h1{
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
    background: black;
    margin: 50px 80px 50px 80px;
    padding: 50px;
}

p{
    margin-bottom: 60px;
    margin-left: 20px;
}

.botao{
    color: rgb(255, 255, 255);
    background: green;
    padding: 20px 30px 20px 30px;
    margin-left: 20px;
    border-radius: 10px;
}

.botao:hover{
    background: blue;
}

.tamanho{
    background: cyan;
    max-width: 800px;
    height: 150px;
}