.flex-pai {
    height: 600px;
    background: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-pai div {
    background: white;
    border: 1px solid black;
    margin: 5px;
    padding: 30px;
    text-align: center;
}

