.flex-pai {
    background: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-pai div {
    background: white;
    border: 1px solid black;
    margin: 5px;
    padding: 30px;
    text-align: center;
}

